@import 'Theme';
@import 'Topbar';
@import 'NavLink';
@import 'Navigations';
@import 'BottomBar';
@import 'SocialLink';
@import 'ThumbnailCard';
@import 'Project';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Constantia;
}
.App {
    .navbar-container, .bottom-bar-container {
        background-color: map-get($map: $theme-colors, $key: 'lightblue');
    }
    .bottom-bar-container {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .main-section {
        width: 90%;
        margin: auto;
        margin-top: 2rem;

        .sort-info {
            font-size: 1.4rem;
            color: map-get($map: $theme-colors, $key: 'black');
            text-align: center;
        }

        .main-container {
            margin-top: 2rem;
        }
    }
}