@import 'Theme';
@import 'Topbar';
@import 'NavLink';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Constantia;
}
.App {
    .main-section {
        width: 90%;
        margin: auto;
    }

    .side-navbar {
        position: absolute;
        top: 50%;
    }
    .sort-info {
        font-size: 1.4rem;
        color: map-get($map: $theme-colors, $key: 'secondary');
        text-align: center;

        .underline {
            margin: 0.5rem auto;
            width: 20rem;
            height: 0.1rem;
            background-color: map-get($map: $theme-colors, $key: 'secondary');
        }
    }
}