.nav-item {
    list-style: none;
    margin-top: 0.5rem;
    
    .nav-link{
        text-decoration: none;
        color: map-get($map: $theme-colors, $key: 'secondary');
        font-size: 1.2rem;
        font-weight: 500;
    }
    :hover {
        color: map-get($map: $theme-colors, $key: 'primary');
    }
}

.nav-item.active {
    .nav-link{
        color: map-get($map: $theme-colors, $key: 'blue');
    }  
}