.projects {
    width: 100%;
    max-width: 75rem;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
}

@media screen and (max-width: $screen-md) {
    .projects {
        width: 90%;
    }
}

@media screen and (max-width: $screen-sm) {
    .projects {
        grid-template-columns: auto;
    }
}