.social-media-links {
    display: flex;
    column-gap: 16px;
}

.social-media-links > * {
    color: map-get($map: $theme-colors, $key: 'grey');

    &:hover {
        color: map-get($map: $theme-colors, $key: 'blue');
    }

    &:focus {
        outline:2px dashed map-get($map: $theme-colors, $key: 'black');
        outline-offset: 0.25rem;
    }
}
