.social-media-links {
    display: flex;
}

.social-media-links > * {
    margin-left: 1rem;
    color: map-get($map: $theme-colors, $key: 'secondary');

    :hover {
        color: map-get($map: $theme-colors, $key: 'primary');
    }
}