.thumbnail-card {
    width: 100%;
    height: 12rem;
    background-color: map-get($map: $theme-colors, $key: 'blue');
    display: flex;
    align-items: flex-end;

    .card-content {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-bottom: 1rem;

        .project-title {
            font-size: 1.3rem;
            font-weight: 700;
            color: map-get($map: $theme-colors, $key: "secondary");
        }

        .project-field {
            font-size: 1rem;
            font-weight: 700;
            color: map-get($map: $theme-colors, $key: "secondary");
        }
    }
}
