.top-navbar {
    width: 90%;
    max-width: 75rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.personal-logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    .logo {
        height: 2.5rem;
        fill: map-get($map: $theme-colors, $key: 'grey');
    }

    .title-name {
        color: map-get($map: $theme-colors, $key: 'grey');
        line-height: 1.5rem;
    }
}

.download-cv {
    display: inline-block;
    text-decoration: none;

    .icon {
        margin-left: 0.25rem;
    }

    label, .icon {
        color: map-get($map: $theme-colors, $key: 'blue-100');
    }

    &:hover {
        label, .icon {
            cursor: pointer;
            text-decoration: underline;
            color: map-get($map: $theme-colors, $key: 'blue');
        }
        .icon {
            margin-left: 0.5rem;
        }
    }
    &:focus {
        outline: 2px dashed map-get($map: $theme-colors, $key: 'black');
        outline-offset: 0.5rem;
    }
}