.top-navbar {
    height: 4rem;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal-logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    .logo {
        height: 2.5rem;
    }

    .title-name {
        color: map-get($map: $theme-colors, $key: 'secondary');
    }
}

.download-cv {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;

    label, .icon {
        color: map-get($map: $theme-colors, $key: 'primary');
    }

    &:hover {
        label, .icon {
            cursor: pointer;
            color: map-get($map: $theme-colors, $key: 'blue');
        }
        .icon {
            margin-top: 0.25rem;
        }
    }
}